.main-title h1{
    font-size: 24px;
    font-weight: bold !important;
 font-family: Arial, Helvetica, sans-serif;    

}
.menu-price-book{
    margin-top: 20px !important;
    /* border: 2px solid black; */
    /* width: fit-content !important; */
}
/* .row{
    margin-right: 0px !important;
    margin-left: 0px !important;
} */
.btn-primary{
    background-color: #4db6ac;
    outline: none;
    border: none;
    transition: all 0.3s ease-in-out;
}
.btn-primary:hover{
    background-color: #00695c;
    outline: none;
    border: none;
}

.btn-warning{
    margin-top: 10px !important;
    width: 100px !important;
    color: black !important;
}
/* .btn-warning:hover{
    background-color: black !important;
    color: whitesmoke !important;
    outline: none !important;
} */


/* .img-fluid{
    height: 100px !important;
    width: auto !important;
} */
.item1{
    box-shadow: 8px 5px 20px -2px grey;
    border-radius: 5px 5px 5px 5px !important;
    
}
.tb{
    text-align: center  !important;
}
.price-book-divide{
    display: flex !important;
    justify-content: space-between !important;
}

.card-title{
    font-size: 24px !important;
}
.btn-outline-success{
         font-size: 14px  !important;
         text-align: end !important;
}
.card-text{
    margin-top: 15px !important;
    font-size: 20px ;
}
input{
    margin-top: 30px !important;
}
@media (max-width: 992px) {
    .tb{
        display: flex !important;
        justify-content: space-between !important;
    }
   
}
@media (max-width: 772px) {
    .card-title{
        font-size: 23px !important;
    }
}
@media (max-width: 571px) {
    .item1{
        width: 300px !important;
        height: auto !important;
    }
}
@media (max-width: 537px) {
    .btn-warning{
        width: 80px !important;
        font-size: 12px !important;
        text-align: center !important;
        align-items: center !important;
    }
}
@media (max-width: 405px) {
    .btn-warning{
        width: 70px !important;
        font-size: 12px !important;
        text-align: center !important;
    }
}
@media (max-width: 383px) {
    .item1{
        width: 270px !important;
        height: auto !important;
    }
   
}
@media (max-width: 377px) {
    .btn-warning{
        width: 65px !important;
        font-size: 8px !important;
        font-weight: bold !important;
    }
}
@media (max-width: 330px) {
    .item1{
        width: 220px !important;
        height: auto !important;
    }
   
}
@media (max-width: 290px) {
    .item1{
        width: 180px !important;
        height: auto !important;
    }
    .btn-warning{
        width: 40px !important;
        font-size: 6px !important;
        font-weight: bold !important;
    }
   
}
@media (max-width: 245px) {
    .item1{
        width: 150px !important;
        height: auto !important;
    }
   
}
